#include <zephyr/dt-bindings/gpio/gpio.h>

/ {
	zephyr,user {
		env-sensors = <&ds18b20>;
	};

	w1_0: w1_gpio {
		compatible = "zephyr,w1-gpio";
		gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH | GPIO_OPEN_DRAIN | GPIO_PULL_UP)>;
		status = "okay";

		ds18b20: ds18b20 {
			compatible = "maxim,ds18b20";
			family-code = <0x28>;
			resolution = <12>;
			status = "okay";
		};
	};
};
